@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">AireSpringTestProject | Data input/output Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input id="search_ID" type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>EmployeeID</th>
                      <th>EmployeeFirstName</th>
                      <th>EmployeeLastName</th>
                      <th>EmployeePhone</th>
                      <th>EmployeeZip</th>
                      <th>HireDate</th>

@*                      <th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column descending" aria-sort="ascending">Browser</th>*@
@*                      <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable jsgrid-header-sort jsgrid-header-sort-asc" style="width: 50px;">HireDate</th>
*@
                    </tr>
                  </thead>
                  <tbody id="tableBody_ID">
                    <tr>
                      <td>183</td>
                      <td>John</td>
                      <td>Doe</td>
                      <td>(+880) 17x-xxxx xxx</td>
                      <td>6320</td>
                      <td>09-07-2014</td>
@*                      <td><span class="tag tag-success">Approved</span></td>
                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>*@
                    </tr>
                    <tr>
                      <td>219</td>
                      <td>Alexander</td>
                      <td>Pierce</td>
                      <td>(+880) 17x-xxxx xxx</td>
                      <td>1230</td>
                      <td>11-08-2015</td>
                    </tr>
                    <tr>
                      <td>657</td>
                      <td>Bob</td>
                      <td>Doe</td>
                      <td>(+880) 17x-xxxx xxx</td>
                      <td>1122</td>
                      <td>12-09-2016</td>
                    </tr>
                    <tr>
                      <td>175</td>
                      <td>Mike</td>
                      <td>Doe</td>
                      <td>(+880) 17x-xxxx xxx</td>
                      <td>1234</td>
                      <td>01-10-2017</td>
                    </tr>
                    <tr>
                      <td>183</td>
                      <td>John</td>
                      <td>Doe</td>
                      <td>(+880) 17x-xxxx xxx</td>
                      <td>6320</td>
                      <td>02-11-2018</td>
@*                      <td><span class="tag tag-success">Approved</span></td>
                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>*@
                    </tr>
                    <tr>
                      <td>219</td>
                      <td>Alexander</td>
                      <td>Pierce</td>
                      <td>(+880) 17x-xxxx xxx</td>
                      <td>1230</td>
                      <td>03-12-2019</td>
                    </tr>
                    <tr>
                      <td>657</td>
                      <td>Bob</td>
                      <td>Doe</td>
                      <td>(+880) 17x-xxxx xxx</td>
                      <td>1122</td>
                      <td>04-01-2020</td>
                    </tr>
                    <tr>
                      <td>175</td>
                      <td>Mike</td>
                      <td>Doe</td>
                      <td>(+880) 17x-xxxx xxx</td>
                      <td>1234</td>
                      <td>05-02-2021</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
</body>

@*<script>
    $(document).ready(function(){
      $("#search_ID").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#tableBody_ID tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>*@